body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h3 {
  padding: 0px;
  margin: 10px;
}

.legend {
  line-height: 18px;
  color: rgb(81, 81, 81);
  background-color: white;
  padding: 10px;
  padding-top: 0px;
  border-radius: 10px
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}